:root {
	font-size: 62.5%;
	font-family: 'Lato', sans-serif;
	line-height: 2.64rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.container{
	padding: 1rem 12.5%;
	position: fixed;
	width: 100vw;
	z-index: 9999
}

.menu {
	position: absolute;
	top: 2.1rem;
	right: 12.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 4rem;
	height: 2.55rem;
}

.bar {
	width: 1.75rem;
	height: .25rem;
	background-color: white;
	border-radius: 50px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-items: start;
	background-color: #2d303c;
}

.brand-name {
	padding: 1rem 0;
	display: flex;
}


.brand-link, .links {
	text-decoration: none;
	color: white;
}

.ulist {
	list-style: none;
	display: none;
	flex-direction: column;
}

.links	{
/*	width: 	100%;*/
}

.active {
	display: flex;
}

.list-item {
	font-size: 1.6rem;
	font-weight: 500;
	padding: 1rem 2rem;
	width: 	100%;
}

.list-item:hover {
	display: block;
	background-color: #5e626f;
}


/* Intoductory styles */

.intro {
	background-color: #272935;
	padding: 10rem 12.5% 5rem 12.5%;
	width: 	100vw;
}

.intro-title {
	font-size: 	2.4rem;
	color: 	#98a6ad;
	font-weight: 400;
	margin-bottom:2rem;
}

.intro-title span {
	font-weight: 700;
}

.intro p {
	font-size: 1.6rem;
	margin: 1.6rem 0;
	color: 	#f8f8f2;
}

.intro-btns	{
	margin: 1rem 0;
}

.intro-btns	.btn {
	font-size: 1.8rem;
	padding: 1rem 3rem;
	box-sizing: border-box;
}

.intro-btns .first {
	background-color: #fc6f5c;
	border-color: #272935;
	outline: none;
}

.intro-btns .last {
	background-color: #272935;
	border: 1px solid #fc6f5c;
	outline: none;
}

.intro-btns .btn a {
	text-decoration: none;
}

.intro-btns .first a {
	color: 	#272935;
}

.intro-btns .last a {
	color: 	#fc6f5c;
}



/* My profile */
.flex {
	background-color: #212529;
	padding: 4rem 12.5%;
}

.main-profile	{
	margin-bottom: 4rem;
}

.display-img{ 
	max-width: 100%;
	height: auto;
	margin-bottom: 2rem;
}

.network {
	list-style: none;
	display: flex;
	justify-content: center;
	max-width: 	76.2rem;
	background-color: #2d303c;
}

.network .social-list .link {
	text-decoration: none;
	color: #fc6f5c;
}

.social-list .link ion-icon {
	font-size: 	2rem;
}

.social-list{
	padding: 2rem 5rem
}

/* My skill sets */
.section-container {
	color: #f8f8f2;
}

.tech-stack {
	margin-bottom: 3rem;
}

.duty {
	margin-bottom: 	1rem;
}

.fname {
	font-size: 	2.8rem;
	padding: 0 0 1rem 0;
}

.skill {
	color: 	rgba(255,255,255,.54);
}

.skill span a {
	text-decoration: none;
	color: 	#fc6f5c;
}

.skill, .tech-appraoch {
	font-size: 	1.6rem;
}

.tech-appraoch p {
	margin-bottom: 	1.5rem;
}

/* Education */
.education {
	margin-bottom: 	3rem;
}

.education h3 {
	font-size: 	2rem;
	padding-bottom: 1rem;

}

.edu {
	display: grid;
	grid-template-columns: min-content minmax(20ch, 40ch);
	grid-gap: 1rem;
	font-size: 	2rem;
}

.edu ion-icon {
	font-size: 2rem	;

}

.edu div p {
	font-size: 1.44rem;

}

.institute {
	font-size: 	1.2rem;
	color: 	rgba(255,255,255,.6);
}

/* Interest */
.interest-section h3 {
	font-size: 2rem;
	padding-bottom: 1rem;
	color: 	#98a6ad;
}

.interest-list{
	margin: 0 0 0 3rem;
}

.interest-list li{
	font-size: 	1.44rem;
}

/* Education and Experience */

.background-container {
  width: 100%;
  padding:  35px 12.5%;
  background-color: #272935;
}

.background-container {
  padding-right: calc(12.5% - 30px);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; 
}

.title {
  font-family: helvetica;
  color: #98a6ad;
  padding: 0 0 20px 30px;
  font-size: 2rem;
  text-transform: 	uppercase;
}

.contents {
  padding: 0 30px;
  border-left: 1px solid #fc6f5c;
}

.box {
    position: relative;
    padding: 20px;
    background-color: #212529;
    cursor: pointer;
    transition: all 0.4;
    margin-bottom: 20px;
}

.box:hover {
  box-shadow: 0 3px 12px 0px #000000;
  border: 1px solid transparent;
}

.box::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 21.1px);
  top: 0;
  background-color: #fc6f5c;
  border: 2px solid #98a6ad;
}

.box h4 {
  color: #fc6f5c;
  position: relative;
}

.box h3 {
  font-size: 19px;
  padding: 10px 0 6px;
  font-family: helvetica;
  color: #444;
}

.box p {
  line-height: 1.2;
  color: #ffffff;
  font-size: 17px;
}

.box p:last-child {
  color: #ffffffcc;
  font-weight: 300;
  margin-top: 1rem;
}

/* Skill Tech Stack */
.stack-container {
	background-color: #212529;
	padding: 5rem 12.5%;
}

.stack-header {
	text-align: center;
	margin-bottom: 	3rem;
}

.stack-header h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: #98a6ad;
	margin-bottom: 1.6rem;

}

.stack-header p {
	font-size: 1.76rem;
	text-transform: uppercase;
	color: #b2b2b2;
}

.stack {
	display: grid;
	grid-template-columns: repeat(auto-fit, 270px);
	justify-items: center;
	align-content: center;
	justify-content: center;
	grid-gap: 	2rem;
}

.stack-item{
width: 270px;
text-align: center;
background-color: 	#272935;
padding: 2rem 0;
}

.stack-item ion-icon{
	font-size: 3.6rem;
	color: #fc6f5c;
	justify-self: center;

}

.stack-item h3 {
	font-size: 2rem;
	font-weight: 400;
}

.stack-item p {
	font-size: 1.28rem;
}

.stack-item h3, p {
	color: 	#fff;
}


/* Certifications */

.cert-container {
	background-color: #272935;
	padding: 5rem 12.5%;
}

.cert-container h1 {
	font-size: 	3rem;
	color: 	#98a6ad;
	text-transform: uppercase;
}

.main-section {
	text-align: center;
	margin-bottom: 3rem;
}

.main-section h1{
	margin-bottom: 2rem;
	font-size: 2rem;
}

.main-section  p {
	font-size: 	1.76rem;
	text-transform: uppercase;
	color: 	#b2b2b2;
}

.details-container {
	display: inline-flex;
}

.details {
	padding: 2rem 2rem;
	background-color: #343a40;
}


.details h4 {
	color: #FFFFFFCC;
	font-size: 1.44rem;
}

.details .timeline {
	color: #FFFFFF8A;
	font-size: 1.4rem;
}

.details .timeline-detail {
	color: #f8f8f2;
	font-size: 1.2rem;
}

.details a {
	color: #fc6f5c;
	font-size: 1.6rem;
	text-decoration: none;
}

/* Project Carousel */
.friends-container {
	background-color: #212529;
  padding:5rem 12.5%;
}

.friends_intro  {
	text-align: center;
	margin-bottom: 3rem;
}

.friends_title {
	font-size: 3rem;
	color: #98a6ad;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

.friends_intro  p {
	font-size: 1.76rem;
	text-transform: uppercase;
	color: #b2b2b2;

}

.carousel {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
}

.carousel_slide-item .fraction{
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.carousel_slide-item .text {
  text-align: center;
  position: absolute;
  bottom: 2rem;
  font-size: 1.5rem;
}

.carousel_slide-item .text a {
  color: white;
  text-align:center;
}

.carousel_list-item img {
  width: 100%;
}

.next, .prev {
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%); 
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 2rem 1rem;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.next:hover, .prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots {
  display: flex;
  justify-content:center;
  gap: 2rem;
  margin: 1.6rem;
  
}

.dot {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #D3D3D3;
}

.dark {
  background-color: #8C8C8C;
}

/* Contact Me */

.contact-container {
	text-align: center;
	padding: 5rem 12.5%;
	background-color: #272935;
}

.contact_title {
	margin-bottom: 6rem;
}

.contact_title h1 {
	font-size: 3rem;
	color: #98a6ad;
	text-transform: uppercase;
	margin-bottom: 	2rem;
}

.contact_title p {
	font-size: 1.76rem;
	color: #b2b2b2;
	text-transform: uppercase;
}

.contact_title	ion-icon {
	font-size: 	1.6rem;
}

.contact_icons p {
	color: 	#f8f8f2;
	font-size: 1.6rem;
	margin: auto 0;
}

input, textarea  {
	width: 100%;
	margin: 0 auto;
}

#name , #email {
	height: 3.8rem;
}

#message {
	height: 13.36rem;
}

#name, #email, #message	{
	background-color: #44475a;
	padding: 2rem;
	color: 	#f8f8f2;
	border: none;
}

#send {
	width: 	5rem;
	float: left;
	border: 1px solid #fc6f5c;
	background-color: #272935;
	color: 	#fc6f5c;
	text-align:center;
	padding: 1rem;
}

ion-icon {
	margin:auto 0;
}

.location, .time, .calender {
	display: flex;
}

.contact_icons	ion-icon{
	font-size: 2rem;
	color: 	#f8f8f2;
	padding: 1rem;
}

.map,  {
	width: 100%;
}

/* Footer */
footer {
	padding:0 12.5% 0;
	background-color: #272935;
}

footer p {
	color: #f8f8f2;
	font-size: 1.5rem;
	text-align: center;
}

footer span {
	color: #fc6f5c;
}

/* Media Queries for small screens */
@media (max-width: 	470px) {
	.social-list	{
		padding: 2rem .9rem
	}
}

@media (max-width: 747px) {
	.row {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 768px){
	.contact_container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 	4rem;
	}
}

@media (min-width: 800px){
	.menu {
		display: 	none;
	}

	.ulist {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.container {
		flex-direction: row;
		display: flex;
		justify-content: space-between;
	}
}

@media (min-width: 992px){
	.flex_background {
		display: grid;
		grid-template-columns: 	1fr 1fr;
		gap: 	5rem;
	}
}